<div class="dg-section" id="dg-mail-root">
  <!-- SINGLE HEADER BAR -->
  <div class="dg-section-title">
    SECURE MESSAGING SYSTEM
  </div>

  <!-- TWO-COLUMN MAIL LAYOUT -->

    <!-- LEFT: chat + compose + dice tray -->
    
      <!-- Messages scroller (only one instance!) -->
      <div id="dg-messages-container">
        <!-- messages injected here -->
      </div>

      <!-- Compose row -->
      <div class="dg-mail-compose">
        <textarea
          id="dg-message-input"
          class="dg-form-textarea dg-mail-textarea"
          placeholder="TYPE MESSAGE - PRESS ENTER TO SEND"
        ></textarea>
   
      </div>


<div id="dg-crt-scanlines"></div>